*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; 
    overflow-x: hidden;
}

#overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,0.5); 
    display: none;
    z-index: 999; 
 }

#header{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.bxr{
    display: none;
}


.nav{
    width: 70%;
    height: 100px;
}

nav #ulli{
    list-style-type: none;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ulli li{
    padding-right: 0;
    padding: 10px;
}

.visas{
     width: 30px;
     height: auto;
     margin: 10px;
     opacity: 10%;
}

.visasss{
     width: 30px;
     height: auto;
     margin: 10px;
     opacity: 100%;
}

.visasss2{
     width: 30px;
     height: auto;
     margin: 10px;
     opacity: 100%;
}


#ulli li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

#ulli li::before{
    content: "";
    border: 1px solid black;
}

#ulli li:first-child::before { 
    content: none; 
    border: none;
 }

.logo img{
    width: 150px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}



.titulo{
    text-align: center;
    margin: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    color: gray;
}

.cajaPrincipal{
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    border-radius: 6px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.30);
}

.cajaDespues{

}


.entradas{
    width: 300px;
    padding: 8px;
    margin: 10px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.entradasi{
  position: relative;
}

.card-icons{
    width: 100px;
    display: flex;
    position: absolute;
    top: 8px;
    right: 3px;
}


.generar{
    width: 300px;
    padding: 8px;
    margin: 10px;
    background-color: green;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 20px;
    margin-bottom: 15px;
}

.clean{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.x{
    width: 300px;
    padding: 8px;
    margin: 10px;
    background-color: rgb(102, 143, 102);
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 20px;
    margin-bottom: 15px;
}

.mensajes{
    width: 300px;
    margin-left: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    color: rgb(173, 23, 23);
}


.caja{
    width: 350px;
    height: 400px;
    overflow: auto;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.cajalista.si{
    max-width: 350px;
    margin-top: 10px;
    margin-left: 10px;
}


.nuevo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
}

#cantidad{
    width: 140px;
    padding: 8px;
}

.cvv{
    width: 140px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 8px;
    display: none;
}

.cvvvv{
     width: 140px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 8px;
    display: flex;
}

#cvvPersonalizado{
    width: 140px;
    padding: 8px;
       background-color: orange;
       border: none;
       border-radius: 6px;
       font-weight: bold;
       color: #ffffff;
}

#cc{
    font-size: 18px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}

footer{
    width: 100%;
    height: 150px;
    background-color: rgba(194, 181, 181, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    margin: 20px;
}




@media screen and (min-width: 300px ) and (max-width: 800px){
    body{
        width: 100vw;
        height: 100vh;
        background-color: #f1f0ee;
    }
    #header{
        width: 100%;
        height: 80px;
        display: block;
        top: 0;
        position: fixed;
        z-index: 1000;
        background-color: #f1f0ee;
    }
    #main{
        margin-top: 110px;
        position: relative;
    }
    .logo{
       overflow: hidden;
       width: 100%;
       height: 80px;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    .logo img{
         width: 90px;
         height: 80px;
    }
    .bxr{
        display: flex;
        font-size: 40px;
        margin-right: 10px;
    }

    .nav{
        width: 100%;
        background-color: #f1f0ee;
        height: 130PX;
        overflow: hidden;
        box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.25);
    }

    #navv{
        display: none;
    }


    nav{
        width: 100%;
        position: absolute;
    }

    nav #ulli{
        display: block;
        width: 100%;
    }

    nav #ulli li{
        width: 100%;
        border-bottom: 1px solid gray;
    }
    

    #ulli li::before{
    content: "";
    border: none;
    }


    #main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cajaDespues{
        width: 100%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
    }
    .cajaPrincipal{
        width: 95%;
        margin-inline-start: 7px;
    }
    .titulo{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .cajaPrincipal div{
        width: 95%;
        margin: 5px;
    }
    .card-icons{
        top: 5.5px;
        right: 3px;
        max-width: 100px;
}
    .entradas{
        width: 98%;
        padding: 10px;
        font-size: 15px;
    }

    .cajaPrincipal .ccvv{
        max-width: 88%;
        margin: 0 auto; 
    }

    .cvv{
        width: 49%;
        font-size: 15px;
         margin: 0;
}


    .generar{
        width: 98%;
        padding: 10px;
    }

     .x{
        width: 98%;
        padding: 10px;
    }
    
    .caja{
        width: 95%;
        margin-inline-start: 7px;
    }
    .cajalista.si{
        width: 90%;
        font-weight: bold;
        margin-left: 10px;
    }

    .cajaPrincipal .aja{
        margin: 0 auto; 
        max-width: 98%; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }
    .nuevo{
        width: 100%;
        margin: 0;
        padding: 0;
        }

    #cantidad{
       width: 100%;
       font-size: 15px;
    }

    #cvvPersonalizado{
       width: 100%;
       font-size: 15px;
    }


    .titulo{
    }

    
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


